.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: var(--primary-color);
}
.footer__text{
    line-height: 30px;
    color: #fff;
}
.footer__quick-links ul li{
    background: transparent !important;
}
.footer__quick-links ul li a{
    color: #fff;
}

.quick__links-title{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1rem;
}

.footer__contact li{
    color: #fff;
}